# Dependency directories
node_modules/
npm-debug.log*
yarn-error.log*

# Editor-specific files
.vscode/
.idea/

# Version control
.git/
.gitignore
.gitattributes

# Environment variables file
.env

# Build artifacts and source code
build/
src/

# Bundler config
webpack.config.js